# 07 - Regularizações

Nessa aula, iremos tratar dos seguintes conteúdos:
- Função de Custo e Regularização;
- Ridge;
- Lasso;
- Elastic-Net.

###

##  Regularizações

<br>

As __regularizações__ vão ser uma importante ferramenta para auxiliar no ajuste de modelos de Regressão Linear. Quando modela-se uma Regressão Linear Múltipla, o objetivo é calcular os coeficientes que determinam a equação abaixo:

<br>

$$\ Y_j=\beta_0 + \sum_{i=1}^{n} \beta_i X_{ij} = \beta_0 + \beta X $$

<br>

Para se determinar os valores de todos os parâmetros $\beta$, o processo de modelagem envolve achar os parâmetros que minimizam a chamada __função de custo__, função esta que avalia o custo (ou seja o erro empregado) ao estimar o valor de $Y$, que para o caso das regressões a função de custo é dada pela __soma residual dos quadrados__, conforme a seguir:

<br>

$$
\Theta = \sum_{i = 1}^{n}[y_i - (\beta_0 + \beta X)]^2
$$

<br>

Mas durante o processo iterativo para o cálculo dos parâmetros, um problema que pode surgir é o caso do _overfitting_, como discutido em tópicos anterior. Ao invés do modelo aprender a __generalizar os resultados__, ele apenas passa a __memorizar__ as respostas dos dados fornecidos no treinamento, prejudicando assim o real poder de predição da Regressão Linear e qualquer outro modelo de _Machine Learning_.

A forma utilizada para diminuir esse efeito nas regressões, seria justamente a __regularização__, onde de acordo com o tipo de regularização será adicionado a função de custo um termo conhecido como __penalização__ proporporcional aos coeficientes $\beta$. Dessa forma, ao minimizar a função de custo, também será minimizado os parâmetros $\beta$.

Nos tópicos a seguir, serão apresentados os principais métodos de regularização para as regressões, sendo eles o __Ridge__, __Lasso__ e __Elastic-Net__.

<br><br>

###  Ridge (L2)

<br>

O método Ridge ou penalização L2, consiste em adicionar um termo quadrático dos parâmetros na função de custo:

<br>

$$
\Theta_{Ridge} = \sum_{i = 1}^{n}[y_i - (\beta_0 + \beta X)]^2 + \alpha\sum_{j = 1}^{p}\beta^{2}_{j} 
$$

<br>

Esse tipo de regularização é mais interessante de se usar quando __todas as variáveis atributos dos dados são importantes__, mas esperasse que o modelo generalize mais. O parâmetro $\alpha$ é justamente o que define a complexidade do modelo, quanto maior o $\alpha$, mais simples o modelo, ou seja, menor a viriância e maiores chances de ocorrer um _underfitting_.

O processo de treinamento e geração de novas predições funciona de forma análoga ao que acontece para a função `LinearRegression`, no caso para implementar o [_Ridge_](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html) basta carregar a função específica para ele:

<br>

```python
# Carregando a função para o Ridge
from sklearn.linear_model import Ridge

# Instanciar o modelo
model = Ridge(alpha = 1.0) # Parâmetro de Ajuste do Ridge
```

<br><br>

###  Lasso (L1)

<br>

O método Lasso ou penalização L1, consiste em adicionar o módulo dos parâmetros na função de custo, ao invés do quadrado no Ridge:

$$
\Theta_{Lasso} = \sum_{i = 1}^{n}[y_i - (\beta_0 + \beta X)]^2 + \alpha\sum_{j = 1}^{p}|\beta_{j}|
$$

O Lasso tem uma aplicação adicional bem interessante pois, no processo interativo de minimizar a função de custo, alguns parâmetros $\beta$ serão __zerados__. Ou seja, o método pode ser utilizado como __uma seleção de atributos__, onde serão zerados os atributos menos relevantes para a modelagem. No caso do Lasso, se tivermos $\alpha = 0$ cai-se no caso clássico de regressão linear e para os casos $\alpha > 0$, quanto maior o valor de lambda, mais parâmetros serão zerados. 

De forma análoga ao que acontece no _Ridge_, no caso para implementar o [__Lasso__](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Lasso.html?highlight=lasso#sklearn.linear_model.Lasso) basta carregar a função específica para ele:

<br>

```python
# Carregando a função para o Lasso
from sklearn.linear_model import Lasso

# Instanciar o modelo
model = Ridge(alpha = 1.0) # Parâmetro de Ajuste do Lasso
```

<br><br>

###  Elastic-Net (L1 + L2)

<br>

O __Elastic-Net__ é um caso particular bem interessante pois ele combina ambos os efeitos de penalização L1 e L2, conforme descrito pela fórmula a seguir:

<br>

$$
\Theta_{EN} = \sum_{i = 1}^{n}[y_i - (\beta_0 + \beta X)]^2 + \alpha_{1}\sum_{j = 1}^{p}|\beta_{j}| + \alpha_{2}\sum_{j = 1}^{p}\beta_{j}^{2}
$$

<br>

Ou seja, o _Elastic-Net_ é interessante pois combina o poder de penalização efetiva do _Ridge_ com as características de seleção de atributos do _Lasso_. Para implementar o [_Elastic-Net_](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.ElasticNet.html) basta carregar a sua função específica:

<br>

```python
# Carregando a função para o ElasticNet
from sklearn.linear_model import ElasticNet

# Instanciar o modelo
model = ElasticNet(alpha = 1.0) # Parâmetro de Ajuste do ElasticNet
```

<br><br>

##

__Exemplo:__ Vamos retomar o exercício com o _dataset_ `Car_Prices.csv` e avaliar os dados com diferentes modelos agora:

In [1]:
# Import das Libs necessárias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

In [11]:
#Carregando o CSV
cars = pd.read_csv("../data/Car_Prices.csv", index_col=0)

In [12]:
# Mostrar as primeiras linhas
cars.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,wheelbase,carlength,carwidth,carheight,...,cylindernumber,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,gas,std,two,convertible,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,13495.0
2,3,alfa-romero stelvio,gas,std,two,convertible,88.6,168.8,64.1,48.8,...,four,130,3.47,2.68,9.0,111,5000,21,27,16500.0
3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,94.5,171.2,65.5,52.4,...,six,152,2.68,3.47,9.0,154,5000,19,26,16500.0
4,2,audi 100 ls,gas,std,four,sedan,99.8,176.6,66.2,54.3,...,four,109,3.19,3.40,10.0,102,5500,24,30,13950.0
5,2,audi 100ls,gas,std,four,sedan,99.4,176.6,66.4,54.3,...,five,136,3.19,3.40,8.0,115,5500,18,22,17450.0

In [14]:
# aplicar o get_dummies

cars_dummies = pd.get_dummies(cars,
                              prefix_sep='_',
                              columns=['fueltype'
                                       ,'aspiration'
                                       ,'doornumber'
                                       ,'carbody'
                                       ,'cylindernumber'
                             ])
cars_dummies

,symboling,CarName,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,...,carbody_hatchback,carbody_sedan,carbody_wagon,cylindernumber_eight,cylindernumber_five,cylindernumber_four,cylindernumber_six,cylindernumber_three,cylindernumber_twelve,cylindernumber_two
car_ID,,,,,,,,,,,,,,,,,,,,,
1,3,alfa-romero giulia,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,1,0,0,0,0
2,3,alfa-romero stelvio,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0,0,0,0,0,1,0,0,0,0
3,1,alfa-romero Quadrifoglio,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,1,0,0,0,0,0,1,0,0,0
4,2,audi 100 ls,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,0,1,0,0,0,1,0,0,0,0
5,2,audi 100ls,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,-1,volvo 145e (sw),109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,0,1,0,0,0,1,0,0,0,0
202,-1,volvo 144ea,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,0,1,0,0,0,1,0,0,0,0
203,-1,volvo 244dl,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,0,1,0,0,0,0,1,0,0,0
204,-1,volvo 246,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,0,1,0,0,0,0,1,0,0,0
205,-1,volvo 264gl,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,0,1,0,0,0,1,0,0,0,0

In [9]:
# Algumas estatísticas interessantes sobre o dataset
print(cars.info())
print(cars.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   wheelbase         205 non-null    float64
 8   carlength         205 non-null    float64
 9   carwidth          205 non-null    float64
 10  carheight         205 non-null    float64
 11  curbweight        205 non-null    int64
 12  cylindernumber    205 non-null    object
 13  enginesize        205 non-null    int64
 14  boreratio         205 non-null    float64
 15  stroke            205 non-null    float64
 16  compressionratio  205 non-null    float64
 17  horsepower        205 non-null    int64
 18  peakrpm           205 non-null    int64
 19  citympg           205 non-null    int64
 20  highwaympg        205 non-null    int64
 21  price             205 non-null    float64
dtypes: float64(8), int64(8), object(6)
memory usage: 35.4+ KB
None
   car_ID  symboling                   CarName fueltype aspiration doornumber  \
0       1          3        alfa-romero giulia      gas        std        two
1       2          3       alfa-romero stelvio      gas        std        two
2       3          1  alfa-romero Quadrifoglio      gas        std        two
3       4          2               audi 100 ls      gas        std       four
4       5          2                audi 100ls      gas        std       four

       carbody  wheelbase  carlength  carwidth  ...  cylindernumber  \
0  convertible       88.6      168.8      64.1  ...            four
1  convertible       88.6      168.8      64.1  ...            four
2    hatchback       94.5      171.2      65.5  ...             six
3        sedan       99.8      176.6      66.2  ...            four
4        sedan       99.4      176.6      66.4  ...            five

   enginesize boreratio  stroke  compressionratio  horsepower  peakrpm  \
0         130      3.47    2.68               9.0         111     5000
1         130      3.47    2.68               9.0         111     5000
2         152      2.68    3.47               9.0         154     5000
3         109      3.19    3.40              10.0         102     5500
4         136      3.19    3.40               8.0         115     5500

   citympg  highwaympg    price
0       21          27  13495.0
1       21          27  16500.0
2       19          26  16500.0
3       24          30  13950.0
4       18          22  17450.0

[5 rows x 22 columns]

In [ ]:
# Aplicar o get_dummies

In [ ]:
# Olhando a transformação

In [ ]:
# Separando em X e Y

In [ ]:
# Separando em treino e teste

In [ ]:
# instancia a normalização

In [ ]:
# Aplica a normalização nos dados de treino

In [ ]:
# Aplica a normalização nos dados de teste

### Regressão Linear

In [ ]:
# Instancia o modelo

In [ ]:
# Fit dos dados (ou seja, vamos passar os dados para o modelo aprender com eles)

In [ ]:
# Para os dados novos, vamos definir a predição para a base de teste

In [ ]:
# feature Importance - LinReg

### Ridge

In [ ]:
# Instancia o modelo

In [ ]:
# Fit dos dados (ou seja, vamos passar os dados para o modelo aprender com eles)

In [ ]:
# Para os dados novos, vamos definir a predição para a base de teste

In [ ]:
# Feature Importance - Ridge

##

### Lasso

In [ ]:
# Instancia o modelo

In [ ]:
# Fit dos dados (ou seja, vamos passar os dados para o modelo aprender com eles)

In [ ]:
# Para os dados novos, vamos definir a predição para a base de teste

In [ ]:
# Feature Importance - Lasso

##

### ElasticNet

In [ ]:
# Instancia o modelo

In [ ]:
# Fit dos dados (ou seja, vamos passar os dados para o modelo aprender com eles)

In [ ]:
# Para os dados novos, vamos definir a predição para a base de teste

In [ ]:
# Feature Importance - Elastic-Net

Comparando as métricas para avaliar os modelos:

In [ ]:
# Comparando os R2s

In [ ]:
# Comparando o MSE

In [ ]:
# comparando o MAE

##

## Exercícios

__1)__ Reavaliar o conjunto de dados para `Insurance.csv` e fazer o comparativo entre os modelos de regularização com a Regressão Linear.

__2)__ Reavaliar o conjunto de dados para `Admission_Predict.csv` e fazer o comparativo entre os modelos de regularização com a Regressão Linear.

__3)__ Reavaliar o conjunto de dados para `usa_housing.csv` e fazer o comparativo entre os modelos de regularização com a Regressão Linear.

__4)__ Utilizando o dataset `penguins` e a partir dos modelos de Regressão e regularização, desenvolva uma regressão para determinar o valor da massa corporal dos pinguins (`body_mass_g`)

In [1]:
import pandas as pd
import seaborn as sns

In [3]:
penguins = sns.load_dataset('penguins')
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

##